<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>com.skoleni.jeeequa.web.servlet.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirTree</servlet-name>
        <servlet-class>com.skoleni.jeeequa.utils.dirtree.DirTree</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileSend</servlet-name>
        <servlet-class>com.skoleni.jeeequa.utils.filesend.FileSend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirTree</servlet-name>
        <url-pattern>/DirTree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileSend</servlet-name>
        <url-pattern>/FileSend</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
